body {
  background: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-700);
  font-family: var(--sl-font-sans);

  --sl-font-size-2x-small: 0.625rem; /* 10px */
  --sl-font-size-x-small: 0.75rem; /* 12px */
  --sl-font-size-small: 0.875rem; /* 14px */
  --sl-font-size-medium: 1rem; /* 16px */
  --sl-font-size-large: 1.25rem; /* 20px */
  --sl-font-size-x-large: 1.5rem; /* 24px */
  --sl-font-size-2x-large: 2.25rem; /* 36px */
  --sl-font-size-3x-large: 3rem; /* 48px */
  --sl-font-size-4x-large: 4.5rem; /* 72px */
}
